@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Sekuya&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

.container-fluid {
    background-color: #ECF6FF;
}

.container-fluid main .main-intro h3 {
    margin: 48px 48px 0 48px;
}

.container-fluid main .main-intro p {
    margin: 24px 48px 0 48px;
}

.container-fluid main h3 {
    font-size: 23px;
    font-weight: bold;
}

.container-fluid main p {
    font-size: 18px;
}

.container-fluid main hr {
    margin-top: 3rem;
    width: 100%;
}

.container-fluid main .card-box {
    width: calc(100% / 3.4);
    /* width: 350px;
    height: 230px; */
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.container-fluid main .card-parent {
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 48px;
}

.container-fluid main .card-box p {
    color: white;
}

.container-fluid main .card-box span {
    color: white;
}

.container-fluid main .card-box:nth-child(1) {
    background-color: #1C6AFF;
}

.container-fluid main .card-box:nth-child(2) {
    background-color: #00B445;
}

.container-fluid main .card-box:nth-child(3) {
    background-color: #B1B400;
}

.container-fluid main .card-box:nth-child(1) .card-icon {
    background-color: #5295FF;
}

.container-fluid main .card-box:nth-child(2) .card-icon {
    background-color: #33CD71;
}

.container-fluid main .card-box:nth-child(3) .card-icon {
    background-color: #CACD33;
}

.container-fluid main .card-box .card-icon .fa-solid {
    color: white;
    font-size: 25px;
}

.container-fluid section {
    padding: 48px;
}

.container-fluid section .card-box-parent {
    width: 100%;
    height: 742px;
    overflow-y: auto;
    overflow-x: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
}

.container-fluid section .card-box {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
}

.container-fluid section h3 {
    font-size: 19px;
}

.container-fluid section h4 {
    font-size: 18px;
}

.container-fluid section .card-icon {
    /* padding: 10px 20px; */
    /* color: #128B4A; */
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.container-fluid section .card-icon .fa-solid {
    font-size: 14px;
}

.container-fluid section .card-box hr {
    margin-top: 2.5rem;
}

.container-fluid section .card-box-parent .card-parent .loan-status {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.container-fluid section .card-box-parent .card-parent .loan-status .loan-value {
    width: calc(100% / 5);
}

/* @media only screen and (min-width: 1280px) {
    .container-fluid main .card-box {
        width: 350px;
    }
} */

@media only screen and (max-width: 1170px) {
    .container-fluid main .card-parent {
        padding: 2rem 3rem 3rem 3rem;
        margin-top: 0;
        gap: 3rem;
    }

    .container-fluid main .card-box {
        width: calc(100% / 3.5);
    }
}

@media only screen and (max-width: 1024px) {

    .container-fluid section .card-box-parent .card-parent .loan-status {
        /* justify-content: space-around; */
        align-items: left;
    }

    .container-fluid section .card-box-parent .card-parent .loan-status .loan-value {
        width: calc(100% / 3);
    }
}

@media only screen and (max-width: 900px) {
    .container-fluid main .card-box {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {

    .container-fluid main .card-parent {
        padding: 2rem 3rem 3rem 3rem;
        margin-top: 0;
        gap: 3rem;
    }

    .container-fluid main .card-box {
        width: 100%;
    }
}

@media only screen and (max-width: 525px) {

    .container-fluid section .card-icon .fa-solid {
        font-size: 25px;
    }

    .card-icon p {
        display: none;
    }

    .card-status {
        /* flex-direction: column; */
    }
}

@media only screen and (max-width: 450px) {
    .container-fluid section .card-box {
        padding: 1.5rem;
    }

    .container-fluid main .card-parent {
        padding: 30px;
    }

    .container-fluid main .main-intro h3 {
        margin: 48px 30px 0 30px;
    }

    .container-fluid main .main-intro p {
        margin: 24px 30px 0 30px;
    }

    .container-fluid section {
        padding: 30px;
    }
}

@media only screen and (min-width: 1300px) {
    .container-fluid main .card-box {
        /* width: 390px; */
        width: calc(100% / 3.5);
    }
}

@media only screen and (min-width: 1536px) {
    .container-fluid main .card-box {
        width: calc(100% / 3.5);
    }
}