@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Sekuya&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

.container-fluid{
    background-color: #ECF6FF;
}

.container-fluid main .card-box-parent{
    gap: 1rem;
}

.container-fluid main .card-box-parent .card-box{
    width: 560px;
    height: 220px;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    border-radius: 10px;
    background-color: white;
}

.container-fluid main .card-box-parent .card-box:nth-child(1){
    border: 2px solid #2B7FFF;
}

.container-fluid main .card-box-parent .card-box h4{
    font-size: 17px;
    margin: 0;
}

.container-fluid main .card-box-parent .card-box .card-icon .fa-solid{
    font-size: 14px;
}

.container-fluid section .card-box-parent{
    border: 1px solid rgba(0,0,0,0.3);
    width: 97%;
    border-radius: 10px;
    background-color: white;
    padding: 2rem;
}

.container-fluid section .card-box-parent h4{
    font-size: 17px;
}