@font-face {
    font-family: 'Poppins';
    src: url('../Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

* {
    font-family: 'Poppins', sans-serif;
}

.container-fluid {
    background-color: #ECF6FF;
}

.container-fluid h2{
    font-weight: bold;
}

.container-fluid .logo h2 {
    font-size: 25px;
    margin: 16px 0px 8px 24px;
}

.container-fluid .logo p {
    line-height: 30px;
    margin: 16px 0px 16px 24px;
    /* width: 85%; */
}

.container-fluid .line {
    margin-top: 24px;
    width: 100%;
}

.container-fluid .logo img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.container-fluid .picture p {
    font-size: 15.5px;
}

.container-fluid .picture p {
    margin: 0;
}

.container-fluid .picture img {
    display: none;
    border-radius: 10px;
}

.container-fluid input,
.container-fluid textarea {
    font-size: 15.5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.container-fluid button {
    padding: 6px 12px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    position: relative;
}

.container-fluid .terms-agreements label {
    font-size: 14.5px;
}

.container-fluid section {
    /* margin-left: 48px; */
}

.loading {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 3px solid white;
    left: 41%;
    border-top: 3px solid #155DFC;
    top: 27%;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    display: none;
}

.container-fluid section {
    margin-top: 48px;
}

.container-fluid .logo-image {
    justify-content: end;
}

.container-fluid section h2 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.container-fluid section label {
    font-size: 15.5px;
}

.container-fluid select {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    color: #6F7174;
    font-size: 15.5px;
}

.container-fluid select:valid {
    color: #212529;
}

.container-fluid .driver{
    display: none;
}

.container-fluid section .signature-picture{
    width: 350px;
    height: 130px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.container-fluid section .signature-picture input{
    border: none;
    background-color: none;
    cursor: pointer;
    padding: 0 0px 0 40px;
}

@media only screen and (max-width: 985px) {
    .container-fluid section h2 {
        margin-top: 3rem;
    }
}


/* 
.container-fluid textarea::placeholder{
    color: 6F7174;
} */

/* .container-fluid section input{
    font-size: 15.5px;
} */

/* @media only screen and (max-width: 965px) {
    .container-fluid .logo img {
        display: none;
    }
}

@media only screen and (max-width: 990px) {
    .label-title {
        display: none;
    }

    .container-fluid section {
        margin-left: 0;
    }
}

@media only screen and (max-width: 765px) {
    .container-fluid .fullname {
        gap: 1.5rem;
    }

    .container-fluid .logo img {
        display: none;
    }

    .container-fluid .logo h2 {
        margin: 0;
    }

    .container-fluid .logo p {
        margin: 0;
        margin-top: 10px;
    }

    .container-fluid .logo {
        margin-top: 1.5rem;
    }

    .container-fluid .logo-image {
        margin-top: 1.5rem;
    }

    .container-fluid .line {
        margin-top: 40px;
    }

    .container-fluid section {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .container-fluid .logo {
        margin-top: 0.8rem;
    }

    .container-fluid .logo-image {
        margin-top: 0.8rem;
    }
}

@media only screen and (max-width: 577px) {
    .nav-logo {
        display: flex;
        flex-direction: column-reverse;
    }

    .container-fluid .logo-image {
        justify-content: start;
        display: none;
    }

    .container-fluid .logo {
        margin-top: 2.5rem;
        text-align: center;
    }

    .container-fluid .logo p{
        margin-top: 0.5rem;
    }
} */

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}