@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Sekuya&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

.container-fluid{
    background-color: #ECF6FF;
}

.container-fluid main .card-box-parent{
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
}

.container-fluid main .card-box-parent .card-box{
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 30px;
    background-color: #ECECF0;
    margin: 1rem 0 0 0;
}

.container-fluid main .card-box-parent .card-box .nav{
    gap: 8rem;
}

.container-fluid main .card-box-parent .card-box .nav .nav-link{
    background: transparent !important;
    color: #000;
    border: none;
    padding: 12px 18px;
    position: relative;
    font-weight: 500;
}

.container-fluid main .card-box-parent .card-box .nav .nav-link.active {
    color: #0d6efd;
}

.container-fluid main .card-box-parent .card-box .nav .nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #0d6efd;
    border-radius: 2px;
}

.card-tab{
    width: 480px;
    height: 330px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 2rem;
}

.card-tab:nth-child(1){
    background-color: #E5F0FF;
}

.card-tab:nth-child(2){
    background-color: #E6FCEE;
}

.card-tab-benefits{
    width: 94.3%;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 2rem;
    background-color: white;
}

.card-tab-benefits h4{
    font-size: 17px;
}

.transaction-tab h4{
    font-size: 17px;
}

.settings-tab{
    width: 100%;
    padding: 2rem;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
}

.settings-tab h4{
    font-size: 17px;
}

.settings-tab p{
    margin: 0px 0px 8px;
}

.security-tab{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 2rem;
    border-radius: 10px;
    background-color: white;
}

.security-tab h4{
    font-size: 17px;
}

.security-tab .security-box{
    padding: 1.5rem;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.3);
}

label{
    font-weight: 500;
}

