@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Sekuya&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

.container-fluid{
    background-color: #ECF6FF;
}

.container-fluid h2{
    font-size: 25px;
}

.container-fluid p{
    line-height: 30px;
}

.container-fluid .logo img{
    width: 130px; 
    height: 130px;
    border-radius: 50%;
}

.container-fluid .picture p{
    font-size: 15.5px;
}

.container-fluid .picture p{
    margin: 0;
}

.container-fluid .picture img{
    display: none;
    border-radius: 10px;
}

.container-fluid input{
    font-size: 14.5px;
    border: 1px solid rgba(0,0,0,0.3);
}

.container-fluid button{
    padding: 6px 12px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    position: relative;
}

.container-fluid .terms-agreements label{
    font-size: 14.5px;
}

.loading{
    position: absolute;
    width: 16px;
    height: 16px;
    border: 3px solid white;
    left: 41%;
    border-top: 3px solid #155DFC;
    top: 27%;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}
