@import "bootstrap/dist/css/bootstrap.min.css";

@import "tailwindcss";

@config "../../tailwind.config.js";

@source "../../resources/views/**/*.blade.php";
@source "../../resources/js/**/*.js";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}